/*------------------------------------*\
****************************************


INDHOLDSFORTEGNELSE:
********************

1: VARIABLER
2. LAYOUT
3. TYPOGRAFI
4. HEADER
5. FOOTER
6. KNAPPER
7. STYLING AF SPECIFIKKE SIDER
    7.1 FORSIDE
    7.2 ???
7.2 Huskeliste - interaktion
8. MEDIA QUERIES


****************************************
\*------------------------------------*/

/*------------------------------------*\
1: VARIABLER
\*------------------------------------*/

:root {

    /* Nøjagtig de samme farvekoder som anvendes på https://www.sikkertrafik.dk/ */
    --colorOne: #1a1a1a;
    --colorTwo: #28292c;
    --colorThree: #373d46;
    --colorFour: #414b5a;
    --colorFive: #9ea1a5;
    --colorSix: #eaeaea;
    --colorSeven: #ccc;
    --colorEight: #6c7b95;
    --colorNine: #5A80D0;
    --colorTen: #3f0;
    --colorElleven: #fd6d6f;
}



/*------------------------------------*\
1. VARIABLER - SLUT
\*------------------------------------*/




/*------------------------------------*\
2. LAYOUT
\*------------------------------------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-wrap: break-word;
    hyphens: auto;
    color: var(--colorThree);
}

main {}

img {
    width: 100%;
    height: auto;

}

ul {
    list-style: none;
}

/*------------------------------------*\
2. LAYOUT - SLUT
\*------------------------------------*/

/*------------------------------------*\
3. TYPOGRAFI
\*------------------------------------*/

/* @font-face */

@font-face {
    font-family: 'safety_bold';
    src: url('fonts/safety-bold-webfont.woff2') format('woff2'),
        url('fonts/safety-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'safety_demibold';
    src: url('fonts/safety-demibold-webfont.woff') format('woff2'), url('fonts/safety-demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'safety_light';
    src: url('fonts/safety-light-webfont.woff2') format('woff2'), url('fonts/safety-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'safety_regular';
    src: url('fonts/safety-regular-webfont.woff2') format('woff2'), url('fonts/safety-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal
}

/* @font-face Slut */

h1 {
    font-family: 'safety_light', Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    padding: 0 1rem;

}


h2 {
    font-family: 'safety_light', Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 100;


}

h3 {
    font-family: 'safety_light', Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    margin: 1rem 0;
}

h4 {
    font-family: 'safety_light', Helvetica, Arial, sans-serif;

}

p {
    font-family: 'Open Sans', Helvetica, Arial, Roboto, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    max-width: 650px;
    padding: 1rem 0;
}



ul {
    list-style: none;
}

figure {
    padding: 1rem 0;
}

section {
    width: 100%;
    padding: 2.5rem 0;
}

.section_header {
    margin: 0 auto;
    max-width: 1400px;
    /*    padding-bottom: 1rem;*/
    padding: 1rem 0;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
}

.col_left {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 0 1rem;

}

.col_right {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 0 1rem;
}

button {
    cursor: pointer;
    font-family: 'safety_light', Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

/*------------------------------------*\
3. TYPOGRAFI - SLUT
\*------------------------------------*/

/*------------------------------------*\
4. HEADER
\*------------------------------------*/

.site_header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.topnav {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
}



nav {
    position: sticky;
    top: 0;
    width: 100%;
}

.home {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



.menu_top {
    background-color: var(--colorTwo);


}

.menu_bottom {
    background-color: var(--colorThree);
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: 1400px;

}

/*MENUKNAP*/
.menuknap {
    display: inline-block;
    cursor: pointer;
    color: var(--colorOne);
    padding: 0 1rem;
}



.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3px;
    background-color: var(--colorSeven);
    margin: 4px 0;
    transition: 0.4s;
}

.menuknap:hover .bar1,
.menuknap:hover .bar2,
.menuknap:hover .bar3 {
    background-color: white;
}

/* Roterer den fÃ¸rste bar */
.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

/* Fjerner den anden bar */
.change .bar2 {
    opacity: 0;
}

/* Roterer den anden bar */
.change .bar3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

/*MENUKNAP*/

.menu_wrapper {
    width: 100%;
}

.menu_wrapper ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--colorSeven);
    height: 100%;
    padding: 0 0.5rem;

}

.menu_wrapper li {
    font-family: 'safety_demibold', Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    cursor: pointer;
    /*    margin: auto 0;*/
    padding: 21px;
    text-align: center;
    height: 100%;


}

.menu_wrapper li a {
    font-family: 'safety_demibold', Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    text-align: center;
    height: 100%;
    color: inherit;
    text-decoration: none;

}




.menu_wrapper li:hover {
    background-color: var(--colorThree);
    color: white;
}

li.menu_ikon {
    padding: 0;
}

.menu_wrapper li.menu_ikon:hover {
    background: var(--colorTwo);
}

.subnav {
    color: var(--colorSeven);
    margin: 0 auto;
    padding: 0;
    max-width: 1400px;

}

.subnav ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
}

.subnav li {
    padding: 21px;
    font-family: 'safety_demibold', Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    cursor: pointer;
}

.subnav li:hover,
.subnav li:active {
    color: white;
}

.subnav a {
    text-decoration: none;
    color: inherit;
}

/* logo */


.logo-container {
    cursor: pointer;
    height: 60px;
    /*     height: 100%;*/
    padding: 0 10px;
    /*    height: 100%;*/
    color: #3f0;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
}

.logo-container svg {
    height: 34px;
    width: 180px;
    fill: #fff;
    margin: auto 0;
}

.logo-container:hover svg {
    fill: #3f0;
}

/* logo - slut */

/* Styling af link i navigations bar */
a.hjem {
    color: var(--colorTen);
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s;
    display: flex;
    height: 100%;
}

a.hjem p {
    font-family: 'Open Sans', Helvetica, Arial, Roboto, sans-serif;
}

a.hjem:hover p,
a.hjem:active p {
    color: var(--colorThree);
}

.searchButton {
    background-image: url(files/search_icon.svg);
    display: inline-block;
    padding: 20px;
    width: 40px;
    height: 40px;
    margin: auto 0;
    background-position: center;
    background-size: contain;
    filter: invert(94%) sepia(0%) saturate(0%) hue-rotate(137deg) brightness(87%) contrast(95%);
    background-position: center;
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;
    transition: .3s;
    cursor: pointer;
}

.searchButton:hover {
    filter: invert(100%) sepia(28%) saturate(0%) hue-rotate(68deg) brightness(113%) contrast(100%);
}

.arrow_left {
    background-image: url(files/arrow_left.svg);
    /*    display: inline-block;*/
    padding: 10px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-position: center;
    background-size: contain;
    filter: invert(94%) sepia(0%) saturate(0%) hue-rotate(137deg) brightness(87%) contrast(95%);
    background-position: center;
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;
    transition: .3s;
    cursor: pointer;
    vertical-align: bottom;
}

.subnav li:hover .arrow_left {
    filter: invert(100%) sepia(28%) saturate(0%) hue-rotate(68deg) brightness(113%) contrast(100%);
}

/*------------------------------------*\
4. HEADER - SLUT
\*------------------------------------*/



/*------------------------------------*\
5. FOOTER
\*------------------------------------*/

footer {
    background: var(--colorTwo);
    color: white;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;


}

.footer_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;

}

a.github_link {
    text-decoration: none;
    cursor: pointer;
}

.social_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    flex-grow: 1;
    flex-basis: auto;
}

.social_links .fa {
    font-size: 24px;
    color: var(--colorFive);
    padding: 1rem;
    cursor: pointer;

}

.social_links .fa:hover {
    color: white;

}

footer .servicemenu,
footer .adresse,
social_links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.adresse {
    flex-grow: 1;
    flex-basis: auto;
    font-family: 'safety_light', Helvetica, Arial, sans-serif;
}

.servicemenu {
    flex-grow: 1;
    flex-basis: auto;
    font-family: 'safety_demibold', Helvetica, Arial, sans-serif;
}

.servicemenu a {
    color: var(--colorFive);
    font-size: 0.9rem;
    line-height: 1.6;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
    padding: 0.5rem 0;
}

.servicemenu a:hover {
    color: white;
}




footer ul {
    padding: 1rem;
}

footer li {
    color: var(--colorFive);
    font-size: 0.9rem;
    line-height: 1.4;
}

footer span.navn {
    font-family: 'safety_demibold', Helvetica, Arial, sans-serif;
}


/*------------------------------------*\
5. FOOTER - SLUT
\*------------------------------------*/

/*------------------------------------*\
6. KNAPPER
\*------------------------------------*/

/* Knap: Tilbage til toppen */
.tilbage {
    max-width: 1400px;
    margin: 0 auto;

}

.top_link {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

.top_link a {
    padding: 1rem 0;
    margin-left: auto;
    text-decoration: none;
    font-family: 'safety_demibold', Helvetica, Arial, sans-serif;
    display: block;
}

.top_link h4 {
    font-size: 2rem;
    transition: all 0.25s ease 0s;
    color: var(--colorEight);
}

.top_link h4:hover {
    color: var(--colorThree);

}

.arrow_up {
    background-image: url(files/arrow_up.svg);
    display: inline-block;
    padding: 30px;
    width: 40px;
    height: 100%;
    background-position: center;
    background-size: contain;
    filter: invert(24%) sepia(7%) saturate(970%) hue-rotate(177deg) brightness(89%) contrast(94%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .3s;
    cursor: pointer;
    vertical-align: bottom;
}

.arrow_up:hover {
    filter: invert(61%) sepia(65%) saturate(766%) hue-rotate(60deg) brightness(104%) contrast(126%);
}

/* Knap: Tilbage til toppen SLUT*/

/*------------------------------------*\
6. KNAPPER - SLUT
\*------------------------------------*/


/*------------------------------------*\
7. STYLING AF SPECIFIKKE SIDER
\*------------------------------------*/

/*------------------------------------*\
7.1 FORSIDE
\*------------------------------------*/

/*------------------------------------*\
7.1 FORSIDE - SLUT
\*------------------------------------*/


.landing_video {
    /*    display: block;*/
    /*    position: absolute;*/
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    /*    max-height: 60vh;*/

    height: calc(100vh - 60px);
    /*        width: 100%;*/
    background-color: var(--colorOne);
}

#videoBG {
    /*
    height: 100%;
    width: 100%;
*/
    display: block;
    object-fit: cover;
    /*    background-size: cover;*/
    /*    position: fixed;*/
    z-index: -1;


}

.loop_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
}


.content {
    position: absolute;
    bottom: 20px;
    color: white;
    width: 100%;
    /*    padding: 1rem;*/
    margin: 0 auto;
    padding: 1rem;
    /*    max-width: 1400px;*/
}

.baggrund {
    display: none;
}



#loopButton {
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 4px;
    padding: 10px 22px;
    margin: 1rem 0;
    min-width: 135px;
    margin: 16px;
    font-family: 'safety_demibold', Helvetica, Arial, sans-serif;

}

#loopButton:hover {
    background: white;
    color: var(--colorThree);


}

#button-text {
    font-family: 'safety_demibold', Helvetica, Arial, sans-serif;
    padding: 0;
}

.video_logo {
    font-family: 'safety_bold';
    font-size: 1.2rem;
    color: white;
    margin: 6.5px 3px;
}

/*------------------------------------*\
7. STYLING AF SPECIFIKKE SIDER  - SLUT
\*------------------------------------*/

.blue_section {
    background-color: var(--colorFour);
    color: white;
}


.blue_section h2,
.blue_section h3,
.blue_section h4,
.blue_section p {
    color: white;
}

.statement {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}

.statement h2 {
    padding: 2rem 0;
}

.gray_section {
    background: #eaeaea;
}





/*
.video_content {
    position: relative;
    margin: 0;
    padding-bottom: calc(100% * 9 / 16);
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #000;
    background-position: 50%;
    background-size: 20% auto;
    cursor: pointer;
    background-repeat: no-repeat;
}
*/

.kampagne_video {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem 1rem 2rem 1rem;
}

.video_wrapper {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
    margin-top: 1rem;

}

#video_big {
    /*
    width: 80vw;
    height: 45vw;
    border: 0;
*/
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}



.testing {
    margin-top: 50px;
    /*
    padding-left: 15px;
    padding-right: 15px;
*/
}

/*------------------------------------*\
7.2 Huskeliste - interaktion
\*------------------------------------*/

.interaktion {
    display: flex;
    justify-content: center;
    align-content: center;
}

.huskeliste {
    background-color: var(--colorSix);
    padding: 2rem;
    flex-grow: 0.3;
    text-align: center;
    border-radius: 5px;
    margin: 1rem;
    width: 100%;
}

.huskeliste h2 {
    font-family: 'Just Another Hand', cursive;
    font-size: 3rem;
    padding: 1rem;
}

.checkbox-wrapper svg {
    width: 1em;
    height: 1em;
    position: absolute;
    left: 0.5em;
    top: .3em;
    border: 2px solid #000000;
}

.checkbox-wrapper label {
    display: block;
    padding: .25em .5em .25em 2em;
    position: relative;
    cursor: pointer;
    font-family: 'Just Another Hand', cursive;
    font-size: 1.8rem;
    text-align: start;
    margin: 1rem;
}

label svg path {
    transition: stroke-dashoffset .5s linear;
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    left: .75em;
    top: .75em;
    font-family: Indie Flower;
    display: none
}

input[type="checkbox"]:checked ~ label {
    text-decoration: line-through;
}

input[type="checkbox"]:checked ~ label svg path {
    stroke-dashoffset: 0;
    stroke: currentColor;
}

/*------------------------------------*\
7.2 Huskeliste - interaktion - SLUT
\*------------------------------------*/

/*------------------------------------*\
7.2 Huskeliste - interaktion - SLUT
\*------------------------------------*/
/* Nyhedsbrev */

.roed {
    color: var(--colorElleven);
    cursor: pointer;
    text-decoration: none;
}

#nyhedsbrev {
    padding: 0 1rem 1rem 1rem;
}

#nyhedsbrev .col_left {
    padding-bottom: 1rem;
}

#nyhedsbrev figure {
    /*    max-width: 650px;*/
    padding: 1rem 0;
    height: 100%;
}

#nyhedsbrev img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




#nyhedsbrev .formular {
    padding: 1rem 2rem 2rem;
    margin-top: 1rem;
    border-radius: 5px;
    background-color: var(--colorFour);
}


#nyhedsbrev .signup {}

#nyhedsbrev input[type=text],
#nyhedsbrev input[type=number],
#nyhedsbrev input[type=date],
#nyhedsbrev input[type=tel],
#nyhedsbrev input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid var(--colorFour);
    border-radius: 4px;
    background-color: #eaeaea;
    font-family: 'safety_light', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

#tilmeld {
    display: inline-block;
    border-radius: 4px;
    font-family: 'Open Sans', Helvetica, Arial, Roboto, sans-serif;
    font-size: 1rem;
}

#nyhedsbrev input[type=text]:focus,
#nyhedsbrev input[type=email]:focus {
    background-color: white;
}

#nyhedsbrev input[type=submit] {
    width: 100%;
    background-color: var(--colorThree);
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    border-color: var(--colorThree);
    font-family: 'safety_demibold', Helvetica, Arial, sans-serif;
}

#nyhedsbrev input[type=submit]:hover {
    background-color: var(--colorTwo);
    border-color: var(--colorTwo);
}

#nyhedsbrev .txt,
#nyhedsbrev .name,
#nyhedsbrev .email {
    font-size: 1rem;
}

#nyhedsbrev .bday {
    color: rgb(117, 117, 117)
}

input type="date"required="required" > #tilmeld_nu .button {
    color: #ffffff;
    background-color: #ecf0f1;
    font-weight: bold;
}


#nyhedsbrev .text {
    margin: 5px;
    padding: 5px;
    padding-top: 30px;
}

#nyhedsbrev .foto {
    margin: 5px;
    padding: 5px;
    padding-top: 50px;
}


#nyhedsbrev h3 {
    color: white;
}

/* Nyhedsbrev - Slut*/

/* Søjlediagram */

#container {
    border: 1px solid;
    background-color: #6c7b95;
    margin: 1rem 0;
}

#linier {
    stroke: #fff;
    stroke-width: .5;
}

#text {
    font-family: 'safety_light', Helvetica, Arial, sans-serif;
    fill: #fff;
    font-size: 6px;
}

#bars {
    stroke: #3f0;
    stroke-width: 10;
}

/*------------------------------------*\
8: MEDIA QUERIES
\*------------------------------------*/

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: 100%;
        /*        position: fixed;*/
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: 100%;
        /*        position: fixed;*/
    }
}

@media (max-width: 800px) {

    /* Der tilføjes en class ("change") til topnav vha. JavaScript, når der klikkes på menuknappen. */
    .topnav.change {
        position: relative;
        background-color: var(--colorTwo);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }

    .topnav.change .menu_wrapper li,
    .topnav.change .menu_wrapper li a {
        font-size: calc(1rem + 1vw);
        background-color: inherit;
    }

    .menu_wrapper ul {
        flex-direction: column;
    }

    .menu_wrapper {
        display: none;
    }

    .navbar {
        flex-wrap: nowrap;
        flex-direction: column;

    }

    .topnav.change .menu_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 15vh 0;
    }


    #videoBG,
    #loopButton {
        display: none;
    }

    .baggrund {
        display: block;
        background: url("files/images/poster_loop.jpg");
        background-size: cover;
        width: 100%;
        height: 100%;
        background-position: 40% 0%;
    }
}


@media only screen and (min-width: 800px) {

    .topnav .menuknap {
        display: none;
    }


    .change .bar1,
    .change .bar2,
    .change .bar3 {}

    .menu_bottom {
        display: block;
    }

    .statement h2 {
        font-size: 3rem;
    }

    h1 {
        font-size: 4rem;
    }

    .landing_video {
        height: calc(100vh - 117px);
    }

}



@media only screen and (min-width: 1000px) {


    h1,
    .statement h2 {
        font-size: 4rem;
    }

}

/*------------------------------------*\
8: MEDIA QUERIES - SLUT
\*------------------------------------*/
